<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mb-0 h1" href="#">SECRET</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home </a>
      </li>
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "Log out", logout_path, method: :delete , class: "btn btn-outline-success" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log in", new_session_path, class: "btn btn-outline-success" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>





















