 <div class="jumbotron">
  <h1 class="display-4">Bienvenue ! <%= @user_name %> </h1>
  <p class="lead">Ce site te donne accès aux secrets qui régissent l'univers</p>
  <hr class="my-4">
  <p>Viens découvrir ces secrets</p>
  <a class="btn btn-primary" href="<%= secret_path %>" role="button">Découvrir</a>
</div>